pkg/
*.json
data/cache/*
!data/cache/.gitkeep
data/logs/*
!data/logs/.gitkeep
_*.*
*.log
media/icons/*
!media/icons/app.*
!media/icons/default_icon.png
!media/icons/w3dhub.png
media/banners/*
!media/banners/.gitkeep